###Name: Mayukha Thumiki
###UTA ID: 1002055616
###Project name: Preliminary Project
###Dataset: Titanic - Machine Learning from disaster

oum

###Importing Libraries

In [ ]:
from google.colab import files
import pandas as pd 

from sklearn.ensemble import RandomForestClassifier

from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

###Data loading

In [ ]:
uploaded = files.upload()

train_data = pd.read_csv("train.csv")

uploaded = files.upload()

test_data = pd.read_csv("test.csv")

Saving train.csv to train (3).csv

Saving test.csv to test (3).csv

In [ ]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

###Following the given Instructions

In [ ]:
sur_women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_sur_women = sum(sur_women)/len(sur_women)

print("% of women who survived:", rate_sur_women)

% of women who survived: 0.7420382165605095

In [ ]:
sur_men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_sur_men = sum(sur_men)/len(sur_men)

print("% of men who survived:", rate_sur_men)

% of men who survived: 0.18890814558058924

In [ ]:
y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

In [ ]:
X.head()

   Pclass  SibSp  Parch  Sex_female  Sex_male
0       3      1      0           0         1
1       1      1      0           1         0
2       3      0      0           1         0
3       1      1      0           1         0
4       3      0      0           0         1

In [ ]:
X_test.head()

   Pclass  SibSp  Parch  Sex_female  Sex_male
0       3      0      0           0         1
1       3      1      0           1         0
2       2      0      0           0         1
3       3      0      0           0         1
4       3      1      1           1         0

In [ ]:
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [ ]:
output.Survived.sum()

148

###My Contribution

####Train Data pre-processing

In [ ]:
print("Train Data:", train_data.shape)
print("Test Data:", test_data.shape)

Train Data: (891, 12)
Test Data: (418, 11)

In [ ]:
process_train = train_data

In [ ]:
#try to fill up missing values
process_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
#Filling average of age values in the place of missing value
process_train['Age'].fillna(process_train['Age'].mean(),inplace=True)

In [ ]:
print("Rate of missing values in Cabin coloum:", (process_train.Cabin.isnull().sum()/process_train.shape[0]))

Rate of missing values in Cabin coloum: 0.7710437710437711

In [ ]:
#Dropping 'Cabin' due to lot of missing values
process_train = process_train.drop('Cabin', axis=1)

In [ ]:
process_train["Embarked"].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [ ]:
#Filling missing values in 'Embarked' with most frequently occuring value
process_train['Embarked'].fillna('S',inplace=True)

In [ ]:
#Dropping 'PassengerID', 'Name', 'Ticket', 'Fare' because they are not useful
process_train = process_train.drop(['PassengerId', 'Name', 'Ticket', 'Fare'], axis=1)

In [ ]:
#Dropping 'Survived' because it is dependent variable
process_train = process_train.drop('Survived', axis=1)

In [ ]:
process_train.head()

   Pclass     Sex   Age  SibSp  Parch Embarked
0       3    male  22.0      1      0        S
1       1  female  38.0      1      0        C
2       3  female  26.0      0      0        S
3       1  female  35.0      1      0        S
4       3    male  35.0      0      0        S

In [ ]:
train_cols =  list(process_train)
print(train_cols)

['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Embarked']

####Test Data pre-processing

In [ ]:
process_test = test_data

In [ ]:
process_test[train_cols].isnull().sum()

Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Embarked     0
dtype: int64

In [ ]:
#Filling average of age values in the place of missing value
process_test['Age'].fillna(process_test['Age'].mean(),inplace=True)

In [ ]:
process_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.50000,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00000,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.00000,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.00000,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00000,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,30.27259,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.00000,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.50000,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,30.27259,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,30.27259,1,1,2668,22.3583,NaN,C

####Model Training using Random Forest Classifier

In [ ]:
X_tr = pd.get_dummies(process_train)
X_ts = pd.get_dummies(process_test[train_cols])

In [ ]:
X_tr.head()

,Pclass,Age,SibSp,Parch,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,22.0,1,0,0,1,0,0,1
1,1,38.0,1,0,1,0,1,0,0
2,3,26.0,0,0,1,0,0,0,1
3,1,35.0,1,0,1,0,0,0,1
4,3,35.0,0,0,0,1,0,0,1

In [ ]:
X_ts.head()

,Pclass,Age,SibSp,Parch,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,34.5,0,0,0,1,0,1,0
1,3,47.0,1,0,1,0,0,0,1
2,2,62.0,0,0,0,1,0,1,0
3,3,27.0,0,0,0,1,0,0,1
4,3,22.0,1,1,1,0,0,0,1

In [ ]:
y_tr = train_data["Survived"]

In [ ]:
my_model = RandomForestClassifier(n_estimators=900, max_depth=7, random_state=1)
my_model.fit(X_tr, y_tr)
my_predictions = my_model.predict(X_ts)

my_output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': my_predictions})
my_output.to_csv('my_submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [ ]:
my_output.Survived.sum()

129

####Model Training using Voting Classifier

In [ ]:
est = []
est.append(('LR', LogisticRegression(max_iter = 200)))
est.append(('RFC', RandomForestClassifier(n_estimators=900, max_depth=7, random_state=1)))
est.append(('KNR', KNeighborsClassifier(n_neighbors=4)))
est.append(('GNB', GaussianNB()))
est.append(('SVC', SVC()))

In [ ]:
vc_model = VotingClassifier( estimators=est, voting='hard')
vc_model.fit(X_tr, y_tr)
predictions_vc = vc_model.predict(X_ts)

In [ ]:
output_vc = pd.DataFrame({'PassengerId': process_test.PassengerId, 'Survived': predictions_vc})
output_vc.to_csv('submission_vc.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [ ]:
output_vc.Survived.sum()

139

###References
1. https://www.kaggle.com/code/alexisbcook/titanic-tutorial/notebook
2. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html
3. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isnull.html
4. https://pandas.pydata.org/pandas-docs/version/0.21/generated/pandas.DataFrame.drop.html
5. https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.VotingClassifier.html